html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
body {
  background-color: #000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  padding: 2rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  border: 0.5px solid #574736;
}

header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}
header .logo img {
  height: 35px;
  width: 35px;
  font-weight: bold;
}

header .navbar a {
  font-size: 1.7rem;
  padding: 0.5rem 1.5rem;
  color: #fff;
  border-radius: 0.5rem;
}
header .navbar a.active,
header .navbar a:hover {
  background-color: var(--orange);
  color: #fff;
}

header .icons i {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

/* Home */

.hero-section {
  min-height: 100vh;
  background-color: #fff;
}

.hero-section .section-content {
  display: flex;
  padding-top: 40px;
  align-items: center;
  min-width: 100vh;
  justify-content: space-between;
}

.hero-section .hero-details {
  color: #fff;
}

.hero-section .hero-details .title {
  font-size: 5rem;
  color: var(--orange);
  font-family: "Miniver", sans-serif;
}

.hero-section .hero-details .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: 3rem;
  font-weight: 600;
}

.hero-section .hero-details .description {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: 1.7rem;
}

.hero-section .hero-details .buttons {
  display: flex;
  gap: 23px;
}
.hero-section .hero-details .image-wrapper {
  max-width: 500px;
  margin-left: 20px;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  background-color: var(--orange);
  border: 0.2rem solid var(--orange);
  color: #fff;
  cursor: pointer;
  border-radius: 0.5rem;
}
.hero-section .hero-details .btn:hover {
  color: #fff;
  border-color: var(--orange);
  background-color: transparent;
}
.contact-us {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border: 0.2rem solid var(--orange);
  color: #fff;
  cursor: pointer;
  border-radius: 0.5rem;
}

/* Banner Section */

.banner-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  padding: 5rem;
}

.banner-container .banner {
  position: relative;
  height: 25rem;
  overflow: hidden;
  border-radius: 5rem;
  box-shadow: var(--box-shadow);
}
.banner-container .banner img {
  height: 100%;
  width: 125%;
  object-fit: cover;
}
.banner-container .banner img:hover {
  transform: scale(1.2);
}
.banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}

.banner-container .banner .content h3 {
  font-size: 2.8rem;
  padding-top: 0.5rem;
  color: #fff;
}

.banner-container .banner .content span {
  color: #d4d2d2;
  font-size: 1.5rem;
}

/* Menu */

.dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 1.5rem;
}
.dishes .box-container .box {
  padding: 2.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 0.5rem;
}

.dishes .box-container .box img {
  height: 17rem;
  margin: 1rem 0;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(1rem);
  }
}
.dishes .box-container h3 {
  color: #e6e6e6;
  font-size: 2.5rem;
}
.dishes .box-container .stars i {
  font-size: 1.7rem;
  color: var(--orange);
}

.dishes .box-container span {
  color: #ffab53;
  font-weight: bolder;
  font-size: 2.5rem;
  margin-right: 1rem;
}


































/* Scroll top */

#scroll-top {
  position: fixed;
  top: 120%;
  right: 2rem;
  padding: 0.5rem 1.2rem;
  font-size: 4rem;
  background-color: var(--orange);
  border-radius: 0.5rem;
  transition: 1s linear;
}
#scroll-top:active {
  top: calc(100% - 12rem);
}
